body{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: beige;
}
.box{
    width: 900px;
    height: 200px;
    background-color: #e1c6c1;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#blackBox{
    margin-top: 45px;
    width: 600px;
    height: 120px;
    text-align: center;
}
#show{
    padding-top: 10px;
}
#chuck{
    margin-top: 30px;
    height: 150px;
    width: 150px;
}
#next{
    width: 120px;
    height: 60px;
    font-size: 30px;
    margin-top: 70px;
    margin-right: 20px;
}